/* Root Elements */
body,
html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	width: 100%;
	background: var(--root-background);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: var(--font-family);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Posts */
.post-item {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: left;
	width: min(calc(100% - 1rem), 100%);
	max-height: max-content;
	margin: 0.5rem;
}

.post-content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: left;
	width: 100%;
	height: 100%;
}

.post-title,
.user-title {
	font-weight: bold;
	font-size: var(--large-font-size);
	word-break: break-word;
	width: 100%;
}

.post-content {
	font-size: var(--primary-font-size);
	word-break: break-word;
	width: 100%;
}

.post-image-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 64px;
	margin-right: 0.8rem;
}
.post-image img,
.post-image * img {
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: var(--border-radius);
}

.post-created,
.post-updated {
	font-size: var(--tiny-font-size);
	color: #999;
}

em > .post-created,
strong > .post-created,
a > .post-created {
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	color: #999;
}

.post-username {
	font-size: var(--small-font-size);
	color: var(--text-color);
	word-break: break-word;
}

/* Base styling */
#main {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: calc(100% - 30px);
	margin: 15px;
	margin-top: 0;
	max-width: 600px;
	align-items: center;
}

/* Navigation */
#nav-header {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 800px;
	height: 3em;
}

#nav-header a {
	text-decoration: none;
}

#nav-profile,
#nav-add-post {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: var(--large-font-size);
	height: 2em;
	width: 2em;
	border: var(--nav-border);
	background: var(--nav-background);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: var(--border-radius);
	color: var(--nav-color);
	transition: 0.2s;
}

#nav-profile:hover,
#nav-add-post:hover {
	border: var(--nav-alt-border);
	background: var(--nav-alt-background);
	color: var(--nav-alt-color);
}

#nav-links {
	width: 100%;
	max-width: 100vw;
	font-size: 0.9em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background: var(--nav-background);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: var(--border-radius);
}

#nav-links a {
	border: var(--nav-border);
	color: var(--nav-color);
	text-decoration: none;
	padding: 0.4rem;
	flex: 1;
	text-align: center;
	transition: 0.2s;
}

#nav-links a:hover {
	border: var(--nav-alt-border);
	background: var(--nav-alt-background);
	color: var(--nav-alt-color);
}

/* make first and last nav links round on left and right respetivly when hovered */
#nav-links a:first-child {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}
#nav-links a:last-child {
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

/* Pagination */
#pagination,
#comments-pagination {
	width: 100%;
	max-width: 100vw;
	font-size: 0.9em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: var(--nav-background);
	border: 0px solid var(--nav-background);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: var(--border-radius);
}

#pagination a,
#comments-pagination a {
	border: var(--nav-border);
	color: var(--nav-color);
	text-decoration: none;
	padding: 0.4rem;
	flex: 1;
	text-align: center;
	transition: 0.2s;
}

#pagination a:hover,
#comments-pagination a:hover {
	border: var(--nav-alt-border);
	background: var(--nav-alt-background);
	color: var(--text-color);
}

/* make first and last pagination links round on left and right respetivly when hovered */
#pagination a:first-child,
#comments-pagination a:first-child {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}
#pagination a:last-child,
#comments-pagination a:last-child {
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

/* a.active {
	background-color: var(--link-alt-color);
	color: var(--text-color);
} */

/* Links */
a {
	text-decoration: none;
	color: var(--text-color);
	transition: 0.2s;
}

.post-content > a:not(#signoutlink),
#list-notice > p > a {
	text-decoration: underline;
	color: var(--link-color);
}

.post-created a {
	color: #999;
}

a:hover,
.post-content > a:not(#signoutlink):hover,
#list-notice > p > a:hover {
	color: var(--link-alt-color);
}

/* Notifications */
#list-notice {
	max-width: 100%;
	overflow: wrap;
	display: none;
	display: flex;
	flex-direction: column;
}
.list-notice-text {
	margin: 0;
}

/* Border */
.double-border {
	border: 5px solid var(--nav-background);
}

#list,
#comments,
#settings {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: left;
	width: 100%;
	flex-shrink: 0;
}

/* Images & Media */
img {
	border-radius: var(--border-radius);
	filter: var(--global-filter);
}

/* Misc */
.purple-text {
	color: purple;
}
small {
	font-size: 0.5em;
}

/* Buttons */
.btn-main,
.btn-primary {
	border: var(--button-border);
	border-radius: var(--border-radius);
	height: max-content;
	background: var(--button-background);
	color: var(--button-color);
	transition: 0.2s;
	cursor: pointer;
	font-size: 0.9em;
	padding-inline: 1em;
}

.btn-main:hover,
.btn-primary:hover {
	background: var(--button-alt-background);
	color: var(--button-alt-color);
	border: var(--button-alt-border);
}

button:disabled {
	background-color: var(--button-background);
	color: #999;
	border: 2px solid #999;
	cursor: not-allowed;
}

button:disabled:hover {
	background-color: var(--button-background);
	color: #999;
	border: 2px solid #999;
	cursor: not-allowed;
}

.btn-alt {
	border: var(--button-border);
	border-radius: var(--border-radius);
	height: max-content;
	background: var(--button-color);
	color: var(--button-background);
	transition: 0.2s;
	cursor: pointer;
	font-size: 0.9em;
	padding-inline: 1em;
}

.btn-alt:hover {
	border: var(--button-border);
	border-radius: var(--border-radius);
	background: var(--button-background);
	color: var(--button-color);
}

/* Fieldsets */

fieldset {
	background-color: var(--fieldset-background);
	backdrop-filter: var(--fieldset-bgfilter);
	border: var(--fieldset-border);
	border-radius: var(--border-radius);
	padding: 0.6rem;
	margin-top: 0.4rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	height: max-content;
}
fieldset legend { color: var(--fieldset-label-color); text-shadow: var(--fieldset-label-shadow); }

#list-notice-fieldset,
#settings-fieldset,
#comments-fieldset {
	display: none;
	flex-direction: column;
	width: calc(100% - 1.2rem - 8px);
	max-width: calc(100% - 1.2rem - 8px);
}

#list-fieldset {
	width: calc(100% - 1.2rem - 8px);
	max-width: calc(100% - 1.2rem - 8px);
}

/* Forms */
.form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	margin-bottom: 0.5rem;
}

#signin-form,
#signup-form,
#add-post-form,
.form-generic {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: center;
	justify-content: center;
	width: 100%;
}

textarea,
input, select, button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: var(--font-family);
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
	border: var(--button-border);
	border-radius: var(--border-radius);
	height: max-content;
	width: max-content;
	background-color: var(--button-background);
	color: var(--button-color);
	transition: 0.2s;
	cursor: pointer;
	font-size: 0.9em;
	transition: 0.2s;
	margin-top: 0.15rem;
	padding: 3px 10px 3px 10px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
	background-color: var(--button-alt-background);
	border: var(--button-alt-border);
	color: var(--button-alt-color);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="username"] {
	border: var(--input-border);
	border-radius: var(--border-radius);
	height: max-content;
	width: 100%;
	background: var(--input-background);
	color: var(--input-color);
	transition: 0.2s;
	cursor: text;
	font-size: 0.9em;
	transition: 0.2s;
	margin-top: 0.2rem;
}

textarea {
	border: var(--input-border);
	border-radius: var(--border-radius);
	width: 100%;
	height: 5rem;
	resize: none;
	padding: 0.2rem;
	font-size: var(--small-font-size);
	background: var(--input-background);
	color: var(--input-color);
	transition: 0.2s;
}

select {
	border: var(--input-border);
	border-radius: var(--border-radius);
	background: var(--input-background);
	color: var(--text-color);
	width: 100%;
	height: 1.75rem;
	padding: 0.2rem;
	font-size: var(--small-font-size);
	transition: 0.2s;
}

input[type="file"] {
	border: none;
	width: 100%;
	max-width: 100%;
}

input[type="file"]:focus {
	outline: none;
	background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
	background-color: var(--input-background);
	color: var(--text-color);
}

input[type="file"]:focus {
	border: none;
	outline: none;
	color: var(--text-color);
}

/* Footer */
#footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: var(--outer-color);
	font-size: var(--small-font-size);
	padding: 1rem;
	font-size: 1em;
	/* Allow people to scroll to the bottom of the page, even with anchor ads */
	margin-bottom: 8rem;
}
#footer a { color: var(--outer-color); }
#footer a:hover { color: var(--outer-alt-color); }
#footer .right { text-align: right; }

#footer p {
	margin: 0.1rem;
}

/* Patches */
brandname {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: 200;
	color: var(--outer-color);
	font-family: var(--title-font-family);
}

superscript {
	font-size: 0.5em;
	background-color: var(--nav-background);
	border-radius: 2rem;
	padding-inline: 0.5rem;
	margin-inline: 0.4rem;
	color: var(--nav-color);
}

.post-views {
	font-size: var(--small-font-size);
}

.views-icon {
	margin-right: 0.2rem;
}

.followbtn-small {
	font-size: 0.5rem;
	width: 64px;
}

#list h1,
#list h2,
#list h3,
#list h4,
#list h5,
#list h6 {
	margin-top: 0.5rem;
}
