body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #f2f2f2;
	font-family: "Fira Mono", monospace;
}

#main {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	align-items: center;
}

.post-item {
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: left;
	width: 25rem;
	max-width: 100%;
	max-height: max-content;
	margin: 1rem;
}

.post-content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	max-width: 20rem;
	height: 100%;
}

.post-title,
.user-title {
	font-weight: bold;
	font-size: 1.2em;
	word-wrap: break-word;
}

.post-content {
	font-size: 1em;
	word-wrap: break-word;
}

.post-image-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 64px;
	margin-right: 0.8rem;
}

.post-created,
.post-updated {
	font-size: 0.8em;
	color: #999;
}

em > .post-created, strong > .post-created, a > .post-created {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    color: #999;
}

.post-username {
	font-size: 0.8em;
	color: black;
	word-wrap: break-word;
}

#nav-header {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	align-items: center;
	justify-content: space-between;
	width: 25rem;
	max-width: 95vw;
	height: 3em;
}

#nav-profile {
	display: flex;
	margin-left: 1rem;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: larger;
	height: 2em;
	width: 2em;
	border: 1px solid black;
	background-color: black;
	border-radius: 0%;
	color: whitesmoke;
	transition: cubic-bezier(1, 0.46, 1, 0) 0.15s;
}

#nav-add-post {
	display: flex;
	margin-right: 1rem;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: larger;
	height: 2em;
	width: 2em;
	border: 1px solid black;
	background-color: black;
	border-radius: 0%;
	color: whitesmoke;
	transition: cubic-bezier(1, 0.46, 1, 0) 0.15s;
}

#nav-profile:hover,
#nav-add-post:hover {
	background-color: purple;
	border-color: purple;
	color: #f2f2f2;
}

#nav-links {
	width: 25rem;
	max-width: 95vw;
	font-size: 0.9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#nav-links a {
	color: black;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}

#nav-links a:hover {
	background-color: purple;
	color: #f2f2f2;
}

a {
	text-decoration: none;
	color: black;
	transition: cubic-bezier(1, 0.46, 1, 0) 0.25s;
}

.post-content > a:not(#signoutlink) {
	text-decoration: underline;
	color: blue;
}

.post-created a {
	color: #999;
}

a:hover,
.post-content > a:not(#signoutlink):hover {
	color: purple;
}

#list-notice {
	width: 25rem;
	max-width: 90vw;
	overflow: wrap;
	display: none;
	display: flex;
	flex-direction: column;
}

.double-border {
	border: 5px double black;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.4rem;
	padding-bottom: 0.1rem;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	overflow: wrap;
}

#list,
#comments,
#settings {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
	width: 25rem;
	max-width: 90vw;
}

small {
	font-size: 0.5em;
}

img {
	filter: grayscale(100%);
}

.purple-text {
	color: purple;
}

.btn-main,
.btn-primary {
	border: 0px solid black;
	height: 1.3rem;
	background-color: black;
	color: whitesmoke;
	transition: cubic-bezier(1, 0.46, 1, 0) 0.15s;
	cursor: pointer;
}

button:disabled {
	background-color: #999;
	color: #f2f2f2;
	cursor: not-allowed;
}

button:disabled:hover {
	background-color: #999;
	color: #f2f2f2;
}

.btn-main:hover,
.btn-primary:hover {
	background-color: purple;
	color: #f2f2f2;
}

.btn-alt {
	border: 0px solid black;
	height: 1.3rem;
	background-color: #f2f2f2;
	color: black;
	transition: cubic-bezier(1, 0.46, 1, 0) 0.15s;
	cursor: pointer;
}

.btn-alt:hover {
	background-color: purple;
	color: #f2f2f2;
}

fieldset {
	border: 5px double black;
	margin-top: 1rem;
}

#list-notice-fieldset,
#settings-fieldset,
#comments-fieldset {
	display: none;
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	margin-bottom: 0.5rem;
}

#signin-form,
#signup-form,
#add-post-form,
.form-generic {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 25rem;
	max-width: 100vw;
}

input,
textarea,
select {
	border: 1px solid black;
	font-family: "Fira Mono", monospace;
	height: 1.3rem;
	width: calc(100% - 5px);
	font-size: 0.8em;
	background-color: #f2f2f2;
	transition: cubic-bezier(1, 0.46, 1, 0) 0.15s;
}

input[type="file"] {
	border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: purple solid 1px;
	border: purple solid 1px;
	background-color: white;
}

input[type="file"]:focus {
	border: none;
	outline: none;
	background-color: #f2f2f2;
}

button {
	font-family: "Fira Mono", monospace;
}

/* Media Queries */
@media screen and (max-width: 25em) {
	.post-item {
		width: 100%;
	}
}

brandname {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

superscript {
	font-size: 0.5em;
}

.post-views {
	font-size: 0.8em;
}

.views-icon {
	margin-right: 0.2rem;
}
