body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
    font-family: 'Fira Mono', monospace;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

.post-item {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    width: 25rem;
    max-width: 95vw;
    max-height: max-content;
    margin: 1rem;
}

.post-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    max-width: 20rem;
    height: 100%;
}

.post-title, .user-title {
    font-weight: bold;
    font-size: 1.2em;
}

.post-content {
    font-size: 1em;
}

.post-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 64px;
    margin-right: 0.8rem;
}

.post-created, .post-updated {
    font-size: 0.8em;
    color: #999;
}

.post-username {
    font-size: 0.8em;
    color: black;
}

#nav-header {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3em;
}

#nav-profile {
    display: flex;
    margin-left: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: larger;
    height: 2em;
    width: 2em;
    border: 1px solid black;
    background-color: black;
    border-radius: 100%;
    color: whitesmoke;
    transition: cubic-bezier(1,.46,1,0) 0.15s;
}

#nav-add-post {
    display: flex;
    margin-right: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: larger;
    height: 2em;
    width: 2em;
    border: 1px solid black;
    background-color: black;
    border-radius: 100%;
    color: whitesmoke;
    transition: cubic-bezier(1,.46,1,0) 0.15s;
}


#nav-profile:hover, #nav-add-post:hover {
    background-color: whitesmoke;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    transition: cubic-bezier(1,.46,1,0) 0.25s;
}

a:hover {
    color: purple;
}

#list-notice {
    width: 25rem;
    max-width: 95vw;
    overflow: wrap;
    display: none;
}


.double-border {
    border: 5px double black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.40rem;
    padding-bottom: 0.10rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    overflow: wrap;
}

#list, #comments, #settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    max-width: 25rem;
    width: 100%;
}

small {
    font-size: 0.5em;
}

img {
    filter: grayscale(100%);
}

.purple-text {
    color: purple;
}



.btn-main {
    border: 0px solid black;
    height: 1.3rem;
    background-color: black;
    color: whitesmoke;
    transition: cubic-bezier(1,.46,1,0) 0.15s;
    cursor: pointer;
}

.btn-main:hover {
    background-color: purple;
    color: #f2f2f2;
}

.btn-alt {
    border: 0px solid black;
    height: 1.3rem;
    background-color: #f2f2f2;
    color: black;
    transition: cubic-bezier(1,.46,1,0) 0.15s;
    cursor: pointer;
}

.btn-alt:hover {
    background-color: purple;
    color: #f2f2f2;
}

fieldset {
    border: 5px double black;
    margin-top: 1rem;
}


#list-notice-fieldset, #settings-fieldset, #comments-fieldset {
    display: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

#signin-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 25rem;
    max-width: 25rem;
}

input {
    border: 1px solid black;
    font-family: 'Fira Mono', monospace;
    height: 1.3rem;
    width: calc(100% - 5px);
    font-size: 0.8em;
    background-color: #f2f2f2;
    transition: cubic-bezier(1,.46,1,0) 0.15s;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: white;
}

button {
    font-family: 'Fira Mono', monospace;
}


/* Media Queries */
@media screen and (max-width: 25rem) {
    .post-item {
        width: 100%;
    }
}

brandname {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

superscript {
    font-size: 0.5em;
}

.post-views {
    font-size: 0.8em;
}

.views-icon {
    margin-right: 0.2rem;
}