@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

:root {
    --primary-color: #f5f5f5f5;
    --secondary-color: #000000;
    --tertiary-color: purple;
    --link-color: purple;
    --link-hover-color: rgb(180, 0, 180);
    --font-family: 'Fira Code', monospace;
    --large-font-size: 1.2rem;
    --primary-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.7rem;
    --root-background: hsl(0,0%,90%) url("/img/noise.png");
    --global-img-filter: grayscale(100%);

    --fieldset-style: 4px double black;
    --border-radius: 0px;
}